<div class="row">
<div class="col-xs-10 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
	<form role="form" ng-submit="insert()">
		<div class="form-group">
			<label>Subject:</label>
			<input ng-model="item.subject" type="text" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Assignee:</label>
			<input type="text" ng-model="item.assignee" class="form-control"required>
		</div>
			<div class="btn-group btn-group-justified">
				<button  type="submit" id="popup" class="btn btn-primary">Submit</button>
				<button  type="button"  id="popup" ng-click= "clear()" class=" btn btn-primary">clear</button>
			</div>
	</form>
	</div>
</div>
<div class="my-modal" ng-model="isModalOpen" ng-class={'open':isModalOpen}>
<p>saved!</p>
<button class="popup_button" ng-click="clean()">Close</button>
</div>
